*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin:10px;
}
ul{
    display: flex;
    align-items: center;
}
header img{
   height: 100px;
  width: 100px;
  color: white;
}
header{
    display: flex;
    justify-content:space-around ;
    background-color: rgba(0, 0, 0, 0.43);
    position: sticky;
    top: 0;

}
.fa fa-shopping-cart{
    display: flex;
    gap: 20px;
}



.dropdown_main{
    position: relative;
}
.dropdown_menu{
    height: 180px;
    width:250px;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20PX;
    color: white;
    margin-top: 20PX;
    margin-left: -180PX;
   

}
.dropdown_main:hover .dropdown_menu{
           display: block;
}
.bg_img{
    background: url(./Photos/a-wide-shot-of-a-steaming-pot-of-biryani-world-food-day-images-photo.jpg);
    height: 800px;
    width:100%;
   background-size: cover;
   background-attachment: fixed;
   
 
}
.delitiousn{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.delitiousn h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 60px;
    color: white; 
    font-family: "Matemasie", sans-serif;
  font-weight: 600;
  font-style: normal;
}
   
.delitiousn p{
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
  }

  .button_img{
    margin-top: 80px;
  }
/* .delicious {
    height: 100px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 440px;
   

} */

.bg_img_transparent{
    height: 800px;
    width:100%;
   background-size: cover;
   background-color: rgba(0, 0, 0, 0.27);
}
.heading{
    font-size: 50px;
    font-family: "Sevillana", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 100PX;

}
.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hr{
    width: 200px;
    height: 2px;
    background:  brown;
    margin-top: 10px;


}
.history_part{
    display: flex;
    padding: 40px;
    margin-left:200px ;
    margin-top: 30PX;

}


.history_part_img_part_one img{
          height:200px;
          width:400px;
         
}
.history_part_img_part_two{
    display: flex;
    gap:15px;
    height:180px;
    width:140px;
    margin-top:15px;
}
.history_pra{
    margin-left: 100px;
    /* padding: 20px; */
    width:500px;
    font-size:21px;
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.h_p_t_img_two{
    width:206px ;
}
.writing_img{
    width:300px;
    margin-top: 50px;
}

.slider_section_bg_img{
    background: url(./Photos/OIP.jpeg);
    height: 600px;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    /* background-position: fixed; */
    margin-top: 80PX;
}
.slider_section_bg_img_transparent{
    height: 600px;
    width:100%;
    background-attachment: fixed;

   background-size: cover;
   background-color: rgba(0, 0, 0, 0.418);
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

.pic_text_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.slider_one{
    display: flex;
    height:350px ;
    width: 500px;
    /* margin-top: 150px;
    margin-left:200px; */
    
}
.your-class{
    display: flex;
   
    /* margin-left: 100px; */
}
.your-class .pic_text_slider{
    display: flex;
}
.burger_discription{
    background-color: white;
    height:350px ;
    
    color:black;
    width: 500px;
   
}
.burger_discription h1{
    font-size:25px;
    margin-left:20px;
    margin-top: 10px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.burger_discription p{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;

}
.burger_discription hr{
    border: 2px solid rgb(255, 68, 0);
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
.burger_discription button{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}
.order_now{
    background-color: rgba(255, 196, 0, 0.773);
}
.slick-prev::before,
.slick-next::before {
    color:white;
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 3.5rem;
    height: 3.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left:-30px;
}

.slick-next {
    right:200px;
}
.Reservation{
    font-size: 60px;
    font-family: "Baskervville SC", serif;
    font-weight: 600;
  font-style: normal;
  margin-top: 50PX;
}
.reser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.book_pra{
    font-size: 20px;
}
.h-r-two{
    width: 200px;
    height: 2px;
    background: blue;
    margin-top: 10px;
}
.date_icone {
   position: relative; 
   padding: 20px;
   display: flex;
   width: 140px;
}
.fa-calendar-o{
    position: absolute;
    top: 20px;
    right: 0;
}
/* from started */
.container{
    background-color:rgba(97, 128, 111, 0.374);
    border: 1px solid rgb(148, 110, 56);
    height: 500px;
    width: 1200px;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-left:50px;
    margin-top: 40px;
    gap:20px;
    font-size: 30px;
    
}
.user_details{
    margin-top: 100px;
    font-family: roboto;
    font-style: italic;
    font-size: 24px;
    margin-top: 30px;
    
}
.password{
    width:250px;
    height: 40px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border: none;
    background-color: rgba(234, 238, 244, 0.945);
    
}
.full_container{
   margin-top: 100px;
   display: flex;
   gap: 40px;
}
.fa-clock-o:before {
    content: "\f017";
    margin-left: -40px;
   
}
.fa-phone:before {
    content: "\f095";
    margin-left: -40px;
}
.fa-user:before {
    content: "\f007";
    margin-left: -40px;
}
.fa-envelope-o:before {
    content: "\f003";
    margin-left: -40px;
}
.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    margin-left: -40px;
}

.make_reservation {
 
    margin-top:-100px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
    height: 50px;
    width: 280px;
    background-color:green;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.171);

  
}
.number{
    background-color: rgb(242, 246, 250);
    height: 50px;
    width: 1170px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    margin-left:65px;
}
/* third_background_img */
.third_background_img{
     background: url(./safe1.jpg);
     background-repeat: no-repeat;
     height: 900px;
     width: 100%;
     background-size: cover;
     margin-top: 50px;
     background-attachment: fixed;
}
.third_background_img_transparent{
    background-color: rgba(0, 0, 0, 0.315);
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    
}

.our_featuuris{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px red;
}
.our_featuuris h1{
    font-size: 40px;
    font-style: bold;
    margin-top: 50px;
}
.our_featuuris p{
    font-size: 30px;
}
.feature_hr{
    border:3px solid rgb(255, 0, 136) ;
    width: 100px;
    margin-top: 10px;
}
.our_fetures_div{
    margin-top: 50px;
   
    background-color: white;
    height: 550px;
    width: 320px;
    align-items: center;
}

.our_fetures_div:hover img{
    transform: scale(1.1);
}
.our_fetures_div img{
    height: 250px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;

}

.our_fetures_div_two{
    height: 250px;
    width: 300px;
    /* background-color: white; */
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;

   

}
.our_fetures_div_two h1{
    font-size: 30px;
}
.our_fetures_div_two hr{
    border: 2px solid rgba(200, 70, 22, 0.844);
    width: 100px;
}
.our_fetures_div_two p{
    margin-top: 20px;
}
.FEATURES_flex{
    display: flex;
    gap: 40px;
    margin-left: 250px;
}
.our_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top:100px;
  
}
.our_menu h1{
    font-size: 50px;  font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: brown;
}
.our_menu p{
    font-size: 20px;
}
.our_menu hr{
    border:3px solid rgb(255, 68, 0);
    width: 100px;
    margin-top: 10px;
}
.our_menu_ul {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.656);
    
    gap: 30px;

}

.our_menu_ul :hover{
    display: block;
}

.our_menu_types{
    display: flex;
    margin-top: 40px;
}
.our_menu_types h1{
font-size: 20px;

}
.our_menu_types hr{
    border: none;
    border-bottom:1px dashed black;
    width: 200px;
}
.our_menu_types p{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.27);
}
.our_full_menu{
    display: flex;
    gap:30px
}
.explore_menu_button{
    font-size: 30px;
    color: white;
    background-color: rgb(255, 98, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 5px;
}
.trusted_by_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trusted_by_div h1{
    font-size:50px;
   color: rgb(15, 129, 15);
    margin-top: 100px;
    font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;

}
.trusted_by_div p{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.675);
}

.trusted_by_div hr{
    border: 3px solid rgb(255, 68, 0);
    width: 100px;
    margin-top: 6px;

}
.trusted_by_img{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.trusted_by_img:hover img{
    transform: scale(1.1);
}
.trusted_by_bg_img{
    background: url(./bbb.avif);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    background-attachment: fixed;
}
.trusted_by_bg_img_transparent{
    background-color: rgba(0, 0, 0, 0.668);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.trusted_by_slider{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left:200px;
   
 margin-top: 50px; */
   /* width: 100%;
   margin: 0 auto; */
}
/* .trusted_by_slider h1{ */
 .fa-quote-left{

 
font-size: 40px;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;

}
.trusted_by_slider p{
    font-size: 40px;
    color: white;
    width:700px;
    margin: 0 auto;
}
.text_class{
    display: flex;
}
.slick-prev::before,
.slick-next::before {
    color:white;
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 3.5rem;
    height: 3.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left:150px;
    margin-top: 100px;
}

.slick-next {
    right:200px;
    margin-top: 100px;
}


.instagram_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
.instagram_div h1{
    font-size: 50px;
    font-weight: 700;
    color: brown;

}
.instagram_div p{
    font-size: 20px;
    margin-top: 10px;
}
.instagram_div hr{
    border: 3px solid rgba(255, 68, 0, 0.764);
    margin-top: 20px;
    width: 150px;
}
.Subscribe_part{
    background-color: rgb(240, 248, 255);
    height: 150px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
   padding: 10px;
   margin-top: 40px;
   
}
.Subscribe_part h1{
     font-size: 60px;
     margin-left: -200px;


    
}
.Subscribe_part p{
    font-size: 20px;
    /* margin-top: 20px; */
   

}
.email{
    padding: 10px;
   font-size: 15px;
   border: 1px solid green;
   margin-top: 10px;
}
.email_button{

width: 40px;
background-color: green;
margin-top: 10px;

}
.email_part{
    display: flex;
    gap: 20px;
}

.fa-angle-right{
    font-size: 35px;
    color: white;
}

.footer_area{
    background: url(./Millionaire_Spaghetti_019-34e9c04b1ae8405088f53450a048e413.jpg);
    background-attachment: fixed;
   
    height: 550px;
    width: 100%;
    background-size: cover;
    
}
.footer_area_transparent{
    background-color: rgba(0, 0, 0, 0.774);
    height: 550px;
    width: 100%;
    background-size: cover;
}
.footer_discription{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    height: 550px;
    
}
.footer_about{
    height: 250px;
    width: 300px;
   margin-left:200px;
   /* margin-top: 100px; */
   
}
.footer_about h1{
    font-size: 30px;
    color: rgb(208, 208, 31);
  
    
}
.footer_about p {
        font-size: 25px;
        color: white;
        /* margin-top: 30px; */
        width: 300px;
    }

.footer_about h3{
    font-size: 20px;
    color:white;
    margin-top: 20px;
}



.recent_post h1{
    font-size: 30px;
    color: rgb(208, 208, 31);
    margin-bottom:10px;

}
.recent_post_img{
    display: flex;
    /* margin-top: 30px; */
}
.recent_post_img img{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.chikern{
 color: white;
 margin-left: 20px;
 width: 250px;
}
.chikern p{
    font-size: 20px;
}
.chikern h3{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.788);
}


.reach_us h1{
    font-size: 30px;
    color: rgb(208, 208, 31);
    
}
.reach_icon{
    background-color: rgba(192, 192, 192, 0.79);
    border: 5px solid black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.726);
    height: 50px;
    width: 300px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}
.footer_location{
    display: flex;
    gap: 20px;
    width:400px;
    margin-top:20px;

}
.footer_location i{
    font-size: 30px;
    color: rgb(208, 208, 31);
}

.footer_location span{
    font-size: 20px;
    color: white;
}
.footer_phone{
    display: flex;
    gap: 20px;
    width:400px;
    margin-top: 20px;
    margin-left: 35px;

}
.footer_phone i{
    font-size: 27px;
    color: rgb(208, 208, 31);
}


.footer_phone span{
    font-size: 20px;
    color: white;
}
/* .footer_lastpart{
   background-color: black;
   height: 80PX;
   width: 100%;
   background-size: cover;

} */
 .footer_lastpart{
    background-color: black;
    height: 100px;
    width: 100%;
    background-size: cover;
 }

.footer_lastpart span{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

/* responsive start */


@media only screen and (max-width:600px){
         body{
            width: 600px;
         }      
    ul {
        display: flex;
        align-items: center;
        display: none;
    }
    .bg_img_transparent {
        height: 800px;
        width: 100%;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.593);
        width: 600px;
    }
    .delitiousn h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color:rgb(255, 217, 0);
        text-shadow: 5px 5px black;
        font-family: "Matemasie", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .delitiousn p {
        font-size: 30px;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-family: "Unlock", serif;
        font-weight: 400;
        font-style: normal;
    }

    .history_part {
        display: flex;
        padding: 20px;
        margin-top: 30px;
        margin: 0;
    }
    .history_part_img_part_one img {
        height: 200px;
        width: 250px;
    }

    
    .history_pra {
        margin-left:40px;
        padding: 20px;
        width: 270px;
        font-size: 15px;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
    
}
.h_p_t_img{
    width: 118px;
}
.h_p_t_img_two {
    width: 118px;
}

.container {
    background-color: rgba(97, 128, 111, 0.374);
    border: 1px solid rgb(148, 110, 56);
    height: 500px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-top: 40px;
    gap: 20px;
    font-size: 30px;
}
.writing_img {
    width: 270px;
    margin-top: 50px;
}
.our_fetures_div {
    margin-top: 50px;
    background-color: white;
    height: 550px;
    width: 160px;
    align-items: center;
  
}
.your-class .pic_text_slider {
    display: flex;
    flex-wrap: wrap;
}

}    


/* END */































